.resource-list-item-content
    .resource-item-heading= itemData.date.toLocaleString()
    .resource-item-pair 
        span.resource-item-key ID:  
        span.resource-item-value= itemData.id 
    .resource-item-pair 
        span.resource-item-key Cinema ID:  
        span.resource-item-value= itemData.cinemaID 
    .resource-item-pair 
        span.resource-item-key Movie ID:  
        span.resource-item-value= itemData.movieID 
    .resource-item-pair 
        span.resource-item-key Screening Type:  
        span.resource-item-value= itemData.screeningType
    .resource-item-pair 
        span.resource-item-key Audio Type:  
        span.resource-item-value= itemData.audioType 
    .resource-item-pair 
        span.resource-item-key Audio Language:  
        span.resource-item-value= itemData.audioLanguage 
    .resource-item-pair 
        span.resource-item-key Screening room ID:  
        span.resource-item-value= itemData.screeningRoomID