.resource-list-item-content
    .resource-item-heading= itemData.email
    .resource-item-pair 
        span.resource-item-key ID:  
        span.resource-item-value= itemData.id 
    .resource-item-pair 
        span.resource-item-key Role:  
        span.resource-item-value= itemData.role
    .resource-item-pair 
        span.resource-item-key First name:  
        span.resource-item-value= itemData.firstName 
    .resource-item-pair 
        span.resource-item-key Last name:  
        span.resource-item-value= itemData.lastName
    .resource-item-pair 
        span.resource-item-key Phone number:  
        span.resource-item-value= itemData.phoneNumber